* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: auto;
  font-size: 1.6rem;
  background-color: #0A0A0A;
}

.button {
  text-decoration: none;
  color: #000;
  background-color: #CFDBD5;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.button:hover {
  background-color: #F5CB5C;
}

.disabled-button {
  text-decoration: none;
  color: #000;
  background-color: #8c8c8c;
  cursor: not-allowed;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 50.0%;
  }
}